<div class="container-fluid">
  <div class="banner">
  <div class="row">

    <div class="col-6">
      <div class="row">
        <div class="col-10">
          <h1 class="white"><%= image_tag @service.icon, class: 'icon-large' %> <%= @service.name %></h1>
        </div>
        <div class="col-2">
          <i class="fas fa-plus fa-2x"></i>
        </div>
      </div>

      <br>
      <p><%= simple_format @service.description, class: "white" %></p>
      <i class="fas fa-globe"> </i> <%= link_to "Official Website", @service.url, class: "panther-font"%>
      <i class="fas fa-file-alt service-info"></i> <a href="#"> Privacy Policy</a>
      <i class="fas fa-file-alt service-info"></i> <a href="#"> Terms of service</a>
      <br>
      <br>
      <div class="categories">
         <ul>
      <% @service.categories.each do |category| %>
        <li class="category"><%= category.name %></li>
      <% end %>
      </ul>
      </div>
      <div class="score-section">
        <div class="pantherscore">
          <h2 class="white">Pantherscore
            <svg width="40" height="40" viewBox="0 0 74 74" fill="none" xmlns="http://www.w3.org/2000/svg">
              <% if @service.pantherscore <= 39 %>
                <path d="M61.0651 65.3803C40.3322 76.0751 13.5042 66.3695 3.30462 44.6461C-3.43328 30.3288 0.510549 12.7226 11.6992 6.6396C17.7818 3.35081 30.9486 5.15593 43.1263 10.7444C75.0478 25.7294 84.2584 53.6965 61.0651 65.3803Z" fill="#FF5252"/>
              <% elsif @service.pantherscore.between?(40, 74) %>
                <path d="M61.0651 65.3803C40.3322 76.0751 13.5042 66.3695 3.30462 44.6461C-3.43328 30.3288 0.510549 12.7226 11.6992 6.6396C17.7818 3.35081 30.9486 5.15593 43.1263 10.7444C75.0478 25.7294 84.2584 53.6965 61.0651 65.3803Z" fill="#FFC048"/>
              <% else %>
                <path d="M61.0651 65.3803C40.3322 76.0751 13.5042 66.3695 3.30462 44.6461C-3.43328 30.3288 0.510549 12.7226 11.6992 6.6396C17.7818 3.35081 30.9486 5.15593 43.1263 10.7444C75.0478 25.7294 84.2584 53.6965 61.0651 65.3803Z" fill="#33D9B2"/>
              <% end %>
              <text class="score-text" x="20" y="44" fill="white"><%= @service.pantherscore %></text>
            </svg>
           </h2>
          <!-- <p> Based on...</p> -->
        </div>
        <div class="verdict white ">
          <% if @service.pantherscore <= 39 %>
            <h2> Poor</h2>
            <% elsif @service.pantherscore.between?(40, 74) %>
            <h2> Fair</h2>
            <% else %>
            <h2> Very good</h2>
        <% end %>
        </div>
        <div class="userscore white">
          <%# <h2>User Score</h2>
          <p> Based on 66 reviews</p> %>
        </div>
      </div>
    </div>

    <div class="col-3"></div>
      <div class="col-3">
      <h3 class="white">Alternatives</h3>
      <ul>
        <% @alternatives.each do |alternative| %>
          <%= link_to service_path(alternative) do %>
            <li>
             <svg width="40" height="40" viewBox="0 0 74 74" fill="none" xmlns="http://www.w3.org/2000/svg">
              <% if alternative.pantherscore <= 39 %>
                <path d="M61.0651 65.3803C40.3322 76.0751 13.5042 66.3695 3.30462 44.6461C-3.43328 30.3288 0.510549 12.7226 11.6992 6.6396C17.7818 3.35081 30.9486 5.15593 43.1263 10.7444C75.0478 25.7294 84.2584 53.6965 61.0651 65.3803Z" fill="#FF5252"/>
              <% elsif @service.pantherscore.between?(40, 74) %>
                <path d="M61.0651 65.3803C40.3322 76.0751 13.5042 66.3695 3.30462 44.6461C-3.43328 30.3288 0.510549 12.7226 11.6992 6.6396C17.7818 3.35081 30.9486 5.15593 43.1263 10.7444C75.0478 25.7294 84.2584 53.6965 61.0651 65.3803Z" fill="#FFC048"/>
              <% else %>
                <path d="M61.0651 65.3803C40.3322 76.0751 13.5042 66.3695 3.30462 44.6461C-3.43328 30.3288 0.510549 12.7226 11.6992 6.6396C17.7818 3.35081 30.9486 5.15593 43.1263 10.7444C75.0478 25.7294 84.2584 53.6965 61.0651 65.3803Z" fill="#33D9B2"/>
              <% end %>
              <text class="score-text" x="20" y="44" fill="white"><%= alternative.pantherscore %></text>
            </svg>
            <%= image_tag alternative.icon, class: 'icon-small spacing' %> <%= alternative.name %>
            </li>
          <% end %>
        <% end %>
      </ul>
      </div>

    </div>

  </div>
</div>

<div class="container-fluid">
  <div class="white-bg">
    <h1> Breakdown</h1>
    <section class="breakdown">

      <% if @service.privacymonitor.present? %>
        <h2>Score sourced from Privacy Monitor</h2>
        <ul>
          <li class="neutral">This service got a score of <%= @service.privacymonitor.score %> / 850 (<%= @service.privacymonitor.title %>), with the following trend: <%= @service.privacymonitor.trend %>.</li>
        </ul>
      <% end %>

      <% if @service.hibp.present? %>
        <h2>Breach sourced from Have I Been Pwned?</h2>
        <ul>
          <li class="negative">Breached on <%= @service.hibp.date %> with <%= @service.hibp.records %> records.</li>
        </ul>
      <% end %>

      <% if @service.wikipedias.present? %>
        <h2>Breaches sourced from Wikipedia</h2>
        <ul>
          <% @service.wikipedias.each do |breach| %>
          <li class="negative">Breached on <%= breach.date %> with <%= breach.records %> records. Reason: <%= breach.method %>.</li>
          <% end %>
        </ul>
      <% end %>

      <% if @service.tosdrs.present? %>
        <h2>Factors sourced from Tosdr</h2>
      <% end %>
      <% if @service.tosdrs.each { |factor| factor.polarity.include?('negative') } %>
          <p><strong>Negative</strong></p>
      <% end %>
        <ul>
          <% @service.tosdrs.each do |factor| %>
            <% if factor.polarity == 'negative' %>
              <li class="negative"><%= factor.title %></li>
            <% end %>
          <% end %>
        </ul>
        <% if @service.tosdrs.each { |factor| factor.polarity.include?('positive') } %>
        <p><strong>Positive</strong></p>
        <% end %>
          <ul>
            <% @service.tosdrs.each do |factor| %>
              <% if factor.polarity == 'positive' %>
                <li class="positive"><%= factor.title %></li>
              <% end %>
            <% end %>
          </ul>

          <% if @service.pribots.present? %>
            <h2>Factors sourced from Pribot</h2>
          <% end %>
          <% if @service.pribots.each { |factor| factor.polarity.include?('negative') } %>
              <p><strong>Negative</strong></p>
          <% end %>
            <ul>
              <% @service.pribots.each do |factor| %>
                <% if factor.polarity == 'negative' %>
                  <li class="negative"><%= factor.title %></li>
                <% end %>
              <% end %>
            </ul>
            <% if @service.pribots.each { |factor| factor.polarity.include?('positive') } %>
            <p><strong>Positive</strong></p>
            <% end %>
              <ul>
                <% @service.pribots.each do |factor| %>
                  <% if factor.polarity == 'positive' %>
                    <li class="positive"><%= factor.title %></li>
                  <% end %>
                <% end %>
              </ul>

              <% if @service.privacyscores.present? %>
                <h2>Factors sourced from Privacy Score</h2>
              <% end %>
              <% if @service.privacyscores.each { |factor| factor.polarity.include?('negative') } %>
                  <p><strong>Negative</strong></p>
              <% end %>
                <ul>
                  <% @service.privacyscores.each do |factor| %>
                    <% if factor.polarity == 'negative' %>
                      <li class="negative"><%= factor.title %></li>
                    <% end %>
                  <% end %>
                </ul>
                <% if @service.privacyscores.each { |factor| factor.polarity.include?('positive') } %>
                <p><strong>Positive</strong></p>
                <% end %>
                  <ul>
                    <% @service.privacyscores.each do |factor| %>
                      <% if factor.polarity == 'positive' %>
                        <li class="positive"><%= factor.title %></li>
                      <% end %>
                    <% end %>
                  </ul>


    </section>
    <div id="load">
      <h2>More <i class="fas fa-chevron-down"></i></h2>
    </div>
    <div id="unload" class="d-none">
      <h2>Less <i class="fas fa-chevron-up"></i></h2>
    </div>
  </div>


<div class="container">
  <div class="d-flex justify-content-start">
    <h1> Write your review</h1>
  </div>

  <div class="review-container">
    <div class="user-review">
      <p>Your Score</p>
      <%= render 'reviews/form', service: @service, review: @review if user_signed_in? %>
    </div>

    <div class="reviews">
      <% @service.reviews.reverse.each_with_index do |review, index| %>
       <li class="<%= 'd-none' if index > 3 %> container-recommend">
        <div class="row">
            <div class="col-1">
            <% if review.rating >= 7 %>
              <p class="green"><%= review.rating %></p>
            <% elsif review.rating == 5  %>
              <p class="yellow"><%= review.rating %></p>
              <% else review.rating < 4 %>
              <p class="red"><%= review.rating %></p>
              <% end %>
            </div>
            <div class="col-10">

              <div class="review-details">
                <div class="start">
                  <p class="username"><%= review.user.username %></p>
                    <p class ="date"><%= review.created_at.strftime("%e %b %Y") %></p>
                  </div>

                <div class="end">
                  <p class="filter active">By Date</p>
                  <p class="filter">User Score</p>
                  <p class="filter">Most Helpful</p>
                </div>

              </div>
                <div class="content">
                  <p><%= review.content %></p>
                  <div class="votes">

                    <div class="postive">
                     <p><i class="far fa-thumbs-up"></i></p>
                     <p id="up-vote"> <%= review.upvote%></p>
                     <p>Helpful</p>
                    </div>

                    <div class="negative">
                      <p><i class="far fa-thumbs-up"></i></p>
                      <p id="down-vote"><%= review.downvote %></p>
                      <p>Unhelpful</p>
                    </div>

                </div>
              </div>
            </div>
            <div class="col-1">
               <%= link_to service_review_path(@service, review), method: :delete, data: { confirm: "Are you sure?" } do %>
                <i class="fas fa-minus"></i>
              <% end %>
            </div>
     </div>
     <% end %>
</div>

 <!-- <div id="load">
      <h2>Show more <i class="fas fa-chevron-down"></i></h2>
    </div>
    <div id="unload" class="d-none">
      <h2>Show less <i class="fas fa-chevron-up"></i></h2>
    </div> -->
  </div>
</div>
</div>







