<div class="container-flex">
  <div class="banner-users">
    <div class="container-fluid">
      <div class="row">
        <div class="col-6">
          <div class="user-info">
            <h1><%= @user.username %></h1>
            <div class="myscore">
              <div>
                <h3>My Pantherscore</h3>
                <p>Based on <span><%= @user.services.count %> Services</span></p>
              </div>
              <div class="btn-question-mark">
                <p>?</p>
              </div>
              <svg width="80" height="80" viewBox="0 0 74 74" fill="none" xmlns="http://www.w3.org/2000/svg">
                <% if @myscore <= 39 %>
                <path d="M61.0651 65.3803C40.3322 76.0751 13.5042 66.3695 3.30462 44.6461C-3.43328 30.3288 0.510549 12.7226 11.6992 6.6396C17.7818 3.35081 30.9486 5.15593 43.1263 10.7444C75.0478 25.7294 84.2584 53.6965 61.0651 65.3803Z" fill="#FF5252"/>
                <% elsif @myscore.between?(40, 74) %>
                <path d="M61.0651 65.3803C40.3322 76.0751 13.5042 66.3695 3.30462 44.6461C-3.43328 30.3288 0.510549 12.7226 11.6992 6.6396C17.7818 3.35081 30.9486 5.15593 43.1263 10.7444C75.0478 25.7294 84.2584 53.6965 61.0651 65.3803Z" fill="#FFC048"/>
                <% else %>
                <path d="M61.0651 65.3803C40.3322 76.0751 13.5042 66.3695 3.30462 44.6461C-3.43328 30.3288 0.510549 12.7226 11.6992 6.6396C17.7818 3.35081 30.9486 5.15593 43.1263 10.7444C75.0478 25.7294 84.2584 53.6965 61.0651 65.3803Z" fill="#33D9B2"/>
                <% end %>
                <text class="score-text" x="20" y="44" fill="white"><%= @myscore %></text>
              </svg>
              <h3>Verdict</h3>
            </div>
          </div>
        </div>
        <div class="col-6">
          <h3>Latest Review</h3>
          <p class="pt-2"><%= @user.reviews.last.content %></p>
          <div class="users-review">
            <p>on <%= @user.reviews.last.service.name %></p>
            <% if @user.reviews.count == 1 %>
              <p>> View all <%= @user.reviews.count %> Review</p>
            <% else %>
              <p>> View all <%= @user.reviews.count %> Reviews</p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-flex">
  <div class="card-user-services">
      <h1>Services I use</h1>
      <ul class="column-view">
        <% counter = 0 %>
        <% @user.services.each do |service| %>
          <li>
            <div class="card-user-service">
              <div class="btn-negative">
                <p> - </p>
              </div>
              <div class="user-score">
                <svg width="35" height="35" viewBox="0 0 74 74" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <% if service.pantherscore <= 39 %>
                  <path d="M61.0651 65.3803C40.3322 76.0751 13.5042 66.3695 3.30462 44.6461C-3.43328 30.3288 0.510549 12.7226 11.6992 6.6396C17.7818 3.35081 30.9486 5.15593 43.1263 10.7444C75.0478 25.7294 84.2584 53.6965 61.0651 65.3803Z" fill="#FF5252"/>
                  <% elsif service.pantherscore.between?(40, 74) %>
                  <path d="M61.0651 65.3803C40.3322 76.0751 13.5042 66.3695 3.30462 44.6461C-3.43328 30.3288 0.510549 12.7226 11.6992 6.6396C17.7818 3.35081 30.9486 5.15593 43.1263 10.7444C75.0478 25.7294 84.2584 53.6965 61.0651 65.3803Z" fill="#FFC048"/>
                  <% else %>
                  <path d="M61.0651 65.3803C40.3322 76.0751 13.5042 66.3695 3.30462 44.6461C-3.43328 30.3288 0.510549 12.7226 11.6992 6.6396C17.7818 3.35081 30.9486 5.15593 43.1263 10.7444C75.0478 25.7294 84.2584 53.6965 61.0651 65.3803Z" fill="#33D9B2"/>
                  <% end %>
                  <text class="score-text" x="20" y="44" fill="white"><%= service.pantherscore %></text>
                </svg>
              </div>
              <div>
                <%= image_tag service.icon, class: 'icon-small-user' %>
              </div>
              <h5><%= service.name %></h5>
            </div>
          </li>
          <% counter += 1 %>
        <% end %>
      </ul>
      <h5>> View all <%= counter %> services </h5>
  </div>
</div>

<div class="container-flex">
  <div class="cards-recommended">
    <ul>
      <h1>Recommended services</h1>
      <% @recommended.each_with_index do |service, index| %>
        <li class="<%= 'd-none' if index > 4 %> container-recommend">
          <div class="container-flex">
            <div class="card-service">
              <div class="card-score">
                <svg width="55" height="55" viewBox="0 0 74 74" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <% if service.pantherscore <= 39 %>
                    <path d="M61.0651 65.3803C40.3322 76.0751 13.5042 66.3695 3.30462 44.6461C-3.43328 30.3288 0.510549 12.7226 11.6992 6.6396C17.7818 3.35081 30.9486 5.15593 43.1263 10.7444C75.0478 25.7294 84.2584 53.6965 61.0651 65.3803Z" fill="#FF5252"/>
                  <% elsif service.pantherscore.between?(40, 74) %>
                    <path d="M61.0651 65.3803C40.3322 76.0751 13.5042 66.3695 3.30462 44.6461C-3.43328 30.3288 0.510549 12.7226 11.6992 6.6396C17.7818 3.35081 30.9486 5.15593 43.1263 10.7444C75.0478 25.7294 84.2584 53.6965 61.0651 65.3803Z" fill="#FFC048"/>
                  <% else %>
                    <path d="M61.0651 65.3803C40.3322 76.0751 13.5042 66.3695 3.30462 44.6461C-3.43328 30.3288 0.510549 12.7226 11.6992 6.6396C17.7818 3.35081 30.9486 5.15593 43.1263 10.7444C75.0478 25.7294 84.2584 53.6965 61.0651 65.3803Z" fill="#33D9B2"/>
                  <% end %>
                  <text class="score-text" x="20" y="44" fill="white"><%= service.pantherscore %></text>
                </svg>
              </div>
              <div class="card-service-icon ml-4">
                <%= image_tag service.icon, class: 'icon-large' %>
              </div>
              <div class="card-service-info ml-4">
                <%= link_to service_path(service) do %>
                  <h2><%= service.name %></h2>
                <% end %>
                <div>
                  <p class="line-clamp-users"><%= service.description %></p>
                </div>
                <% if service.categories.exists? %>
                  <p><%= service.categories.first.name %></p>
                <% end %>
              </div>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
    <div id="load">
      <h2>Show more <i class="fas fa-chevron-down"></i></h2>
    </div>
    <div id="unload" class="d-none">
      <h2>Show less <i class="fas fa-chevron-up"></i></h2>
    </div>
  </div>
</div>




















<!-- <p><%= @user.username %></p>
<p>Latest review:</p>
<p><%= @user.reviews.last.rating %></p>
<p><%= @user.reviews.last.content %></p>
<p><%= @user.reviews.last.service.name %></p>
<p><%= @user.reviews.last.created_at %></p>
<ul>
  <% @user.services.each do |service| %>
    <li> <%= service.pantherscore %> <%= service.name %> </li>
  <% end %>
</ul> -->
