<div class="banner">
  <div class="container row ml-4">
    <div class="col-8">
      <h1>Finally, an <span style="color:#33D9B2;">easy</span> way to know who trust with my data</h1>
      <div class="mt-4">
        <p class="green-line pl-4">Panther is an easy-to-use privacy platform that shows you how trustworthy an online service is when handling your data. With the powerful Pantherscore, we help you make the right choice before signing up to a service.</p>
      </div>
    </div>
    <div class="col-3 gif-image">
<!--       <%= image_tag("tenor.gif") %>
 -->    </div>
  </div>
</div>

<div class="container-fluid mb-4">
  <h2 class="ml-4">Most Viewed</h2>
  <div class="row mt-4 pt-2 ml-4">
    <% @most_viewed.each do |service| %>
      <div class="col-4">
        <div class="row mb-4">
          <div class="col-2">
            <p class="green-circle"><%= service.pantherscore %></p>
          </div>
          <div class="col-2">
            <p>Icon</p>
          </div>
          <div class="col-8 ">
            <div class="cards-text">
              <h3><%= service.name %></h3>
              <p class="grey-line" style="display: inline;"><%= service.categories.first.name %></p>
              <p class="grey-line" style="display: inline;"><%= service.reviews.count %> Reviews</p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="banner-large mt-4">
  <div class="container row">
    <div class="col-4">
      <div class="row">
        <div class="col-12">
          <h1 class="mb-4">Hall of Fame</h1>
          <% counter = 1 %>
          <% @top_five_services.each do |service| %>
            <div class="row">
              <div class="col-1">
                <p><%= counter %></p>
              </div>
              <div class="col-1">
                <p class="green-circle-small"><%= service.pantherscore %></p>
              </div>
              <div class="col-2 ml-4">
                <p>Icon</p>
              </div>
              <div class="col">
                <p><%= service.name %></p>
              </div>
            </div>
            <% counter += 1 %>
          <% end %>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <h1 class="mb-4">Hall of Shame</h1>
          <% counter = 1 %>
          <% @last_five_services.each do |service| %>
            <div class="row">
              <div class="col-1">
                <p><%= counter %></p>
              </div>
              <div class="col-1">
                <p class="red-circle-small  "><%= service.pantherscore %></p>
              </div>
              <div class="col-2 ml-4">
                <p>Icon</p>
              </div>
              <div class="col">
                <p><%= service.name %></p>
              </div>
            </div>
              <% counter += 1 %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-4">
      <h1>Top advocates</h1>
    </div>
    <div class="col-4">
      <h1>Recent reviews</h1>
    </div>
  </div>
</div>

<!--
<h1>Top 5 Services</h1>
<% @top_five_services.each do |service| %>
  <h3><%= service.name %></h3>
<% end %>

<h1>Last 5 Services</h1>
<% @last_five_services.each do |service| %>
  <h3><%= service.name %></h3>
<% end %>

<h1>Recent Reviews</h1>
<% @recent_reviews.each do |review| %>
  <h3><%= review.content %></h3>
<% end %>

<h1>Recently added</h1>
<% @recently_added.each do |service| %>
  <h3><%= service.name %></h3>
<% end %>

<h1>Categories</h1>
<% @categories.each do |category| %>
  <h3><%= category.name %></h3>
<% end %>

<h1>Advocates</h1>
<% @top_reviewed_services.each do |service| %>
  <h3><%= service.name %></h3>
  <p><%= service.reviews.count %></p>
<% end %> -->
